tr.marked_row {
    background-color: yellow;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

#results_box {
    background-color: #F6CECE;
    padding: 10px 10px 10px 10px;
}

textarea.code_box {
    font-family: monospace;
}

div#feedback_line {
    font-weight: bold;
    font-style: oblique;
}

.tableName {
    font-weight: bold;
    font-size:smaller;
}

.bg-grey{
    background-color: #f7f7f7;
}

.headAchievement{
    font-weight: bold;
    font-style: oblique;
}

.gold{
    color: #C9B037;
}

.silver{
    color: #D7D7D7;
}

.bronze{
    color: #AD8A56;
}

.green-success {
    color: #228B22;
}

.remark{
    font-style: italic;
    font-weight: bold;
}

.help_big{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

h1.help {
    padding-top: 50px;
}

h2.help {
    padding-top: 25px;
}

img.screenshot {
    border-style: solid;
}

.off-screen {
   /* Tag for describing informative icons (for accessibility) */
   position: absolute;
   left: -99999rem;
}

.icon-hidden {
    visibility: hidden;
}

.main-link {
    text-decoration: none;
}

.bigger-icon {
    font-size: x-large
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

nav.menu_bar {
/*
    background-color: #333300;
    background-color: #003300;
    background-color: #006666;
*/
    background-color: #003366;
}
