asgiref==3.9.1
astroid==3.3.11
bandit==1.8.6
beautifulsoup4==4.13.4
certifi==2025.7.14
cffi==1.17.1
coverage==7.9.2
cryptography==45.0.5
defusedxml==0.7.1
dill==0.4.0
Django==5.2.3
django-model-utils==5.0.0
gunicorn==23.0.0
isort==6.0.1
lazy-object-proxy==1.11.0
lml==0.2.0
logzero==1.7.0
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multiset==3.2.0
oracledb==3.2.0
packaging==25.0
pbr==6.1.1
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycparser==2.22
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.7
pyexcel-ods3==0.6.1
Pygments==2.19.2
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytz==2025.2
PyYAML==6.0.2
rich==14.0.0
sentry-sdk==2.32.0
six==1.17.0
soupsieve==2.7
sqlglot==27.0.0
sqlparse==0.5.3
stevedore==5.4.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
typing_extensions==4.14.1
urllib3==2.5.0
wrapt==1.17.2
