asgiref==3.3.1
astroid==2.4.2
coverage==5.3
cx-Oracle==8.0.1
Django==3.1.3
gunicorn==20.0.4
isort==5.6.4
lazy-object-proxy==1.4.3
logzero==1.6.2
lxml==4.6.1
Markdown==3.3.3
mccabe==0.6.1
multiset==2.1.1
psycopg2-binary==2.8.6
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
