asgiref==3.8.1
astroid==3.3.4
bandit==1.7.9
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
coverage==7.6.1
cryptography==43.0.1
defusedxml==0.7.1
dill==0.3.8
Django==5.1.1
django-model-utils==5.0.0
gunicorn==23.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
lml==0.1.0
logzero==1.7.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multiset==3.2.0
oracledb==2.4.1
packaging==24.1
pbr==6.1.0
platformdirs==4.3.6
psycopg2-binary==2.9.9
pycparser==2.22
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.6
pyexcel-ods3==0.6.1
Pygments==2.18.0
pylint==3.3.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytz==2024.2
PyYAML==6.0.2
rich==13.8.1
sentry-sdk==2.14.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
stevedore==5.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
