{% extends "base_menu.html" %}
{% load i18n %}
{% load static %}
{% block contenido %}
<h1>{% translate "Página de logros de " %}<span class="headAchievement">{{ username }}</span></h1>
{% if unlocked %}
<h2>{% translate "Logros conseguidos" %}</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">{% translate "Nombre" %}</th>
            <th scope="col">{% translate "Descripción" %}</th>
            <th scope="col">{% translate "Fecha" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in unlocked %}
        <tr>
            <td>{{ obj.achievement_definition.name }}</td>
            <td>{{ obj.achievement_definition.description }}</td>
            <td>{{ obj.obtained_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if locked %}
<h2>{% translate "Logros pendientes" %}</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">{% translate "Nombre" %}</th>
            <th scope="col">{% translate "Descripción" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in locked %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>

{% endblock %}