{% load i18n %}

<div class="modal-body" id="achieve_sentence">
{% blocktranslate count count=achievement_list|length %}
Además, con este envío has conseguido el logro
{% plural %}
Además, con este envío has conseguido los logros
{% endblocktranslate %}

{% for ach in achievement_list %}
    {% if forloop.first %}
        <b>"{{ ach.get_name }}"</b>
    {% elif forloop.last %}
        y <b>"{{ ach.get_name }}"</b>
    {% else %}
      , <b>"{{ ach.get_name }}"</b>
    {% endif %}
{% endfor %}

. {% translate "Accede a la página" %}
<a href="{% url 'judge:achievements' user %}">
{% translate "Mis logros" %}</a> {% translate "para obtener más información" %}.
</div>
