{% extends "base.html" %}
{% load i18n %}
{% block menu %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="{% url 'judge:collections' %}">{% translate "exercises" %}</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'judge:submissions' %}">{% translate "mySubmissions" %}</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'judge:results' %}">{% translate "ranking" %}</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'judge:help' %}">{% translate "help" %}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="{% url 'judge:achievements' request.user.pk %}">{% translate "myAchievements" %}</a>
		  <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'judge:password_change' %}">{% translate "changePass" %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'judge:logout' %}">{% translate "logout" %}</a>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}