{% extends "base.html" %}
{% load i18n %}
{% block menu %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'judge:collections' %}">{% translate "Ejercicios" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'judge:results' %}">{% translate "Clasificación" %}</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'judge:help' %}">{% translate "Ayuda" %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            {{ request.user.email }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'judge:submissions' %}">{% translate "Mis envíos" %}</a>
            <a class="dropdown-item" href="{% url 'judge:achievements' request.user.pk %}">{% translate "Mis logros" %}</a>
		    <a class="dropdown-item" href="{% url 'judge:password_change' %}">{% translate "Cambiar contraseña" %}</a>
            {% if request.user.is_staff %}
            <a class="dropdown-item" href="{% url 'judge:statistics_submissions' %}">{% translate "Estadísticas del juez" %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'judge:logout' %}">{% translate "Cerrar sesión" %}</a>
          </ul>
        </li>
{% endblock %}