{% extends "base.html" %}
{% block menu %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/sql/collection/">Ejercicios</a>
      </li>
      <li>
        <a class="nav-link" href="/sql/submission/">Mis Envíos</a>
      </li>
      <li>
        <a class="nav-link" href="#">Ayuda</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tunombre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sql/user/pirate">Ver perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sql/logout">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}