{% extends "base_menu.html" %}
{% load i18n %}
{% load static %}
{% block contenido %}
<h1>{{collection.name_html|safe}}</h1>
{{collection.description_html|safe}}


  <h2>{% translate "Listado de problemas" %}</h2>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">{% translate "Nombre" %}</th>
        <th scope="col">{% translate "Número de envíos" %}</th>
        <th scope="col" class="text-center">
          
          <i class="bi bi-award-fill gold"></i>
          <span>{% translate "1º" %}</span>
          <i class="bi bi-award-fill gold"></i>
        </th>
        <th scope="col" class="text-center">
          <i class="bi bi-award-fill silver"></i>
          <span>{% translate "2º" %}</span>
          <i class="bi bi-award-fill silver"></i>
        </th>
        <th scope="col" class="text-center">

          <i class="bi bi-award-fill bronze"></i>
          <span>{% translate "3º" %}</span>
          <i class="bi bi-award-fill bronze"></i>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for p in collection.problem_list %}
    <tr>
      <td>
        {% if p.solved %}
        <i class="bi bi-check-circle-fill green-success" aria-hidden="true"></i>
        <span class="off-screen">{% translate "Problema resuelto" %}</span>
        {% else %}
        <i class="bi bi-check-circle-fill icon-hidden" aria-hidden="true"></i>
        {% endif %}
        <a href="{% url 'judge:problem' p.pk %}">{{ p.title_html|safe }}</a>
      </td>
      <td>{{ p.num_submissions }}</td>
        <td class="text-center bg-grey">
        {% if p.solved_first is not None %}{{ p.solved_first }}{% else %}-{% endif %}
        </td>
        <td class="text-center bg-grey">
        {% if p.solved_second is not None %}{{ p.solved_second }}{% else %}-{% endif %}
        </td>
        <td class="text-center bg-grey">
          {% if p.solved_third is not None %}{{ p.solved_third }}{% else %}-{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}