{% extends "base_menu.html" %}
{% load i18n %}
{% load static %}
{% block contenido %}
  <h2>{% translate "Colecciones de problemas" %}</h2>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">{% translate "Nombre" %}</th>
        <th scope="col">{% translate "Resueltos" %}</th>
        <th scope="col">{% translate "Total problemas" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for c in collections %}
    <tr>
      <td>
        {% if c.num_problems == c.num_solved %}
        <i class="bi bi-check-circle-fill green-success" aria-hidden="true"></i>
        <span class="off-screen">{% translate "Colección terminada" %}</span>
        {% else %}
        <i class="bi bi-check-circle-fill icon-hidden" aria-hidden="true"></i>
        {% endif %}
        <a href="{% url 'judge:collection' c.id %}">{{ c.name_html|safe }}</a>
      </td>
      <td>{{ c.num_solved }}</td>
      <td>{{ c.num_problems }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}