{% extends "base_menu.html" %}
{% load static %}
{% block contenido %}
  <h2>Colecciones de problemas</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Resueltos</th>
        <th scope="col">Total problemas</th>
      </tr>
    </thead>
    <tbody>
    {% for c in object_list %}
    <tr>
      <td>
        <img src="{% static "judge/img/tick.svg" %}" alt="Coleccion terminada" height="20">
        <img src="{% static "judge/img/tick.svg" %}" alt="Colección no terminada" style="visibility: hidden" height="20">
        <a href="{% url 'judge:collection' c.id %}">{{ c.name_html|safe }}</a>
      </td>
      <td>{{ c.problems }}</td>
      <td>{{ c.num_problems }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}