{% extends "feedback_wa.html" %}
{% block feedback %}
<p>Hay diferencias en el <strong><code class="code">{{comment}}</code> </strong>
    <ul>
        <li>
            <strong><code class="code">{{expected}}</code></strong>  <br/>
            <code>{{expected_rows}}</code>
        </li>
        <li>
            <strong><code class="code">{{obtained}}</code></strong><br/>
            <code>{{obtained_rows}}</code></li>
        </ul>
    Recuerda que tanto el nombre de cada columna como su tipo y el orden en el que aparecen debe coincidir <strong>exactamente</strong>.
</p>
<style>
    .code{ color:black;}
</style>
{% endblock feedback %}