{% extends "feedback_wa.html" %}
{% block feedback %}
<p>Hay diferencias en las tablas presentes en la base de datos:
    <ul>
        <li>
            <strong>Se esperaban las siguientes tablas:</strong><br/>
            <code>{{expected}}</code>
        </li>
        <li>
            <strong>Tu código SQL ha generado las siguientes tablas:</strong><br/>
            <code>{{obtained}}</code></li>
        </ul>
    Recuerda que el nombre de cada tabla debe coincidir <strong>exactamente</strong>.
</p>
{% endblock feedback %}