{% load i18n %}
{% for code, msg, snippet, line_col in des_msgs %}
<ul>
    <li><strong>{% if code == 0 %}
            {% translate "Error" %}:
        {% elif code == 1 %}
            {% translate "Posible mejora" %}:
        {% elif code == 2 %}
            {% translate "Mensaje informativo" %}:
        {% else %}
            {% translate "Mensaje" %}:
        {% endif %}
        {% if line_col  %}
        {% translate "línea" %} {{ line_col.0 }},
        {% translate "columna" %} {{ line_col.1 }}
        {% endif %}
        </strong>
        <br/>
        {{msg}}
        {% if snippet %}
        <pre><code class="SQL">{{ snippet }}</code></pre>
        {%endif %}
    </li>
</ul>
{% endfor %}