{% extends "feedback_wa.html" %}
{% load i18n %}
{% block feedback %}
<p>{% translate "Hay diferencias en el " %}<strong>{{comment}}</strong>
    <ul>
        <li>
            <strong>{{expected}}</strong><br/>
            {{expected_rows}}
        </li>
        <li>
            <strong>{{obtained}}</strong><br/>
            {{obtained_rows}}
        </li>
        </ul>
        {% translate "Recuerda que tanto el nombre de cada columna como su tipo y el orden en el que aparecen debe coincidir" %} <strong>{% translate "exactamente" %}</strong>.
</p>
{% endblock feedback %}