{% extends "feedback_wa.html" %}
{% load i18n %}
{% block feedback %}
<p>{% translate "Hay diferencias en las tablas presentes en la base de datos:" %}
    <ul>
        <li>
            <strong>{% translate "Se esperaban las siguientes tablas:" %}</strong><br/>
            <code>{{expected}}</code>
        </li>
        <li>
            <strong>{% translate "Tu código SQL ha generado las siguientes tablas:" %}</strong><br/>
            <code>{{obtained}}</code></li>
        </ul>
        {% translate "Recuerda que el nombre de cada tabla debe coincidir" %} <strong>{% translate "exactamente" %}</strong>.
</p>
{% endblock feedback %}