{% extends "base.html" %}
{% load i18n %}
{% block menu %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{% endblock %}
{% block contenido %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  {% translate "Usuario o contraseña no válidos" %}
</div>
{% endif %}

  <h1>{% translate "Inicio de sesión" %}</h1>
<form action="{% url 'judge:login' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <div class="mb-3">
        {{ form.username.label_tag }}<br/>
        {{ form.username }}
        <div id="emailHelp" class="form-text">
          {% translate "Es la parte de tu e-mail que precede a " %}<code>@ucm.es</code>.
        </div>
    </div>

    <div class="mb-3">
        {{ form.password.label_tag }}<br/>
        {{ form.password }}
      <div id="passwordHelp" class="form-text">
          {% translate "Ponte en contacto con tu profesor si has olvidado tu contraseña." %}
      </div>
    </div>
  <button type="submit" class="btn btn-primary">{% translate "Entrar" %}</button>
</form>
{% endblock %}