{% extends "base_menu.html" %}
{% load i18n %}
{% block contenido %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.errors.old_password }}
    {{ form.errors.new_password1 }}
    {{ form.errors.new_password2 }}
</div>
{% endif %}

  <h2>{% translate "Inicio de sesión" %}</h2>
<form action="{% url 'judge:password_change' %}" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <!-- {{ form.old_password.label_tag }} -->
        {% translate "Contraseña actual" %}:<br/>
        {{ form.old_password }}
    </div>

    <div class="mb-3">
        <!-- {{ form.new_password1.label_tag }} -->
        {% translate "Nueva contraseña" %}:<br/>
        {{ form.new_password1 }}
    </div>

    <div class="mb-3">
        <!-- {{ form.new_password2.label_tag }} -->
        {% translate "Nueva contraseña (confirmación)" %}:<br/>
        {{ form.new_password2 }}
    </div>

            <div class="alert alert-primary">
            <ul>
                <li>{% translate "Tu contraseña no puede ser parecida a tu información personal." %}</li>
                <li>{% translate "Tu contraseña debe contener al menos 8 caracteres." %}</li>
                <li>{% translate "No puedes usar una contraseña común." %}</li>
                <li>{% translate "Tu contraseña no puede ser completamente numérica." %}</li>
            </ul>
        </div>
  <button type="submit" class="btn btn-primary">{% translate "Cambiar contraseña" %}</button>
</form>
{% endblock %}