{% extends "base_menu.html" %}
{% load i18n %}
{% block contenido %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.errors.old_password }}
    {{ form.errors.new_password1 }}
    {{ form.errors.new_password2 }}
</div>
{% endif %}

  <h2>{% translate "login" %}</h2>
<form action="{% url 'judge:password_change' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <!-- {{ form.old_password.label_tag }} -->
        {% translate "actualPass" %}:<br/>
        {{ form.old_password }}
    </div>

    <div class="form-group">
        <!-- {{ form.new_password1.label_tag }} -->
        {% translate "newPass" %}:<br/>
        {{ form.new_password1 }}
    </div>

    <div class="form-group">
        <!-- {{ form.new_password2.label_tag }} -->
        {% translate "newPassConfirmation" %}:<br/>
        {{ form.new_password2 }}
    </div>

            <div class="alert alert-primary">
            <ul>
                <li>{% translate "passNotSimilarToPersonalInfo" %}</li>
                <li>{% translate "atLeast8CharPass" %}</li>
                <li>{% translate "cannotUseCommonPass" %}</li>
                <li>{% translate "passCannotBeOnlyNumeric" %}</li>
            </ul>
        </div>
  <button type="submit" class="btn btn-primary">{% translate "changePass" %}</button>
</form>
{% endblock %}