{% extends "base_menu.html" %}
{% comment %}
General template for a problem. Provides the following blocks:
   * name_text: Name and text of the problem, considering HTML as safe
   * initial_db: Contents of the initial DB (if any)
   * expected_result: Contents of the expected results (default -> one table)
   * solution: form and the hidden div for showin errors
{% endcomment %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% block name_text %}
<h2>{{ problem.title_html|safe}}
{% if problem.solved %}
  <img id="markSolved" src="{% static "judge/img/tick.svg" %}" alt="Ejercicio superado" height="30">
{% else %}
  <img id="markSolved" src="{% static "judge/img/tick.svg" %}" style="visibility: hidden" alt="Ejercicio superado" height="30">
{% endif %}
</h2>
<p>

</p>
<div>
  {{ problem.text_html|safe }}
</div>
{% endblock %}

{% block initial_db %}
{% if problem.initial_db.0 %}
<h2>
  Base de datos

  <a href="{% url 'judge:create_insert' problem.id %}" download="create_insert.sql" >
       <button type="button" class="btn btn-primary" title="Script con la creacion de tablas e inserciones">Descargar Script</button>
  </a>


</h2>
{% for name, table in problem.initial_db.0.items %}
  {% include 'show_table.html' with table=table name=name mark_rows=None %}
{% endfor %}
{% endif %}
{% endblock %}

{% block expected_result %}
<h2>Resultado esperado</h2>
{% include 'show_table.html' with table=problem.expected_result.0 name=None %}
{% endblock %}

{% block solution %}
<h2>Solución</h2>
  <script src="{% static 'judge/js/submit.js' %}"></script>
  <form onchange="javascript:load_submission_code(event);" class="mb-3">
	<div class="custom-file">
		<input type="file" class="custom-file-input" id="customFile" lang="es">
      <label class="custom-file-label" for="customFile"><i>Selecciona o arrastra el archivo con la solución</i></label>
    </div>
    <script>
		// The name of the file appear on select
		$(".custom-file-input").on("change", function() {
			var fileName = $(this).val().split("\\").pop();
			$(".custom-file-label").addClass("selected").text(fileName);
		});
    </script>
  </form>
  <form action="javascript:send_solution();">
    {% csrf_token %} {# Includes a hidden input with the CSRF token #}
    <input type="hidden" id="endpoint" name="endpoint" value="{% url 'judge:submit' problem.pk %}">
    <div id="user_code"></div>
    <button id="submit_button" type="submit" class="btn btn-primary">
      <span id="spinner_submit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
      <span id="submit_button_text">Enviar solución</span>
    </button>
  </form>

<div id="result_window" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 id="modal_title" class="modal-title">Titulo</h5>
      </div>
      <div id="modal_message" class="modal-body">
        Modal body text goes here.
      </div>
      <div class="modal-footer">
        <button id="close_result_window_button" type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="error_window" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 id="error_title" class="modal-title">
          Error de conexión
        </h5>
      </div>
      <div id="error_message" class="modal-body">
        Ha sido imposible conectar con el corrector de ejercicios.
        Este problema puede ser debido a una saturación del servidor.
        Por favor, vuelve a cargar la página del problema e intenta enviarlo de nuevo dentro de unos instantes.
        Ponte en contacto con tu profesor si el problema persiste.
      </div>
      <div class="modal-footer">
        <button id="close_error_window_button" type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  // Same font size in the editor as the modal window
  var el = document.getElementById('modal_message');
  var style = window.getComputedStyle(el, null).getPropertyValue('font-size');
  var size = parseInt(style);

  ace.edit("user_code", {
        theme: "ace/theme/eclipse",
        mode: "ace/mode/sql",
        autoScrollEditorIntoView: true,
        maxLines: 30,
        minLines: 10,
        fontSize: size
    });
</script>

<br/>
<div id="results_box" hidden>
  <h3>Retroalimentación</h3>
  <div id="feedback_line" hidden></div>
  <div id="feedback_content"></div>
</div>
<div><br/></div>
{% endblock %}
{% endblock %}