{% extends "base_menu.html" %}
{% load i18n %}
{% comment %}
General template for a problem. Provides the following blocks:
   * name_text: Name and text of the problem, considering HTML as safe
   * initial_db: Contents of the initial DB (if any)
   * expected_result: Contents of the expected results (default -> one table)
   * solution: form and the hidden div for showin errors
{% endcomment %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% block name_text %}
<h1>{{ problem.title_html|safe}}
{% if problem.solved %}
  <i class="bi bi-check-circle-fill green-success" aria-hidden="true"></i>
  <span class="off-screen">{% translate "Problema resuelto" %}</span>
{% else %}
  <i id="check-icon" class="bi bi-check-circle-fill green-success icon-hidden" aria-hidden="true"></i>
{% endif %}
</h1>
<p>

</p>

{% block pista %}
    {% if problem.available_hints == 0 %}
    <div class="col-0">
        <button class="bg-white border-0 float-end" title='{% translate "No hay pistas disponibles para este problema" %}' type="button"
            class="gold"><i class="bi bi-lightbulb-off-fill grey bigger-icon" aria-hidden="true"></i>
        </button>
    </div>
    {% else %}
    <div class="col-0">
        <button class="bg-white border-0 float-end" title='{% translate "Mostrar pistas" %}'
                data-bs-target="#hint_window" data-bs-toggle="modal" type="button"
            class="gold"><i class="bi bi-lightbulb-fill gold bigger-icon" aria-hidden="true"></i>
        </button>
    </div>
    {% endif %}

</div>
<div class="modal fade" data-bs-backdrop="static" id="hint_window" tabindex="-1" aria-labelledby="hint_window_label"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div class="alert alert-primary text-center alert_hints">
                    <i class="bi bi-info-circle-fill bigger-icon"></i>
                    {% blocktranslate count num_hints=problem.available_hints %}
                    Este problema dispone de {{ num_hints }} pista
                    {% plural %}
                    Este problema dispone de {{ num_hints }} pistas
                    {% endblocktranslate %}
            </div>
        </div>
        <div id="info_hint" class="modal-body">
             {% for hint in problem.used_hints %}
             <div class="hint">
                 <h5 class="hint_title">{% translate "Pista" %} {{ forloop.counter }} </h5>
                 {{hint.hint_definition.get_text_html|safe}}
             </div>
             {% endfor %}
        </div>
        <div id="msg_info" class="text-center">
        </div>
      <div class="modal-footer d-flex">
        {% if problem.available_hints == problem.used %}
            <button type="button" class="btn btn-primary" title="No hay más pistas" disabled>{% translate "No hay más pistas" %}</button>
        {% else %}
            <form action="javascript:show_hint();">
                {% csrf_token %} {# Includes a hidden input with the CSRF token #}
                <input type="hidden" id="hint_url" name="hint_url" value="{% url 'judge:hint' problem.pk %}">
                <button type="button" id="button_ask_hint" class="btn btn-primary" title='{% translate "Pedir pista nueva" %}' onclick="show_hint();">{% translate "Solicitar pista" %}</button>
            </form>
        {% endif %}
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% translate "Cerrar" %}</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

<div>
  {{ problem.text_html|safe }}
</div>
{% endblock %}

{% block initial_db %}
{% if problem.initial_db.0 %}
<h2 class="statement">
  {% translate "Base de datos" %}

  <a href="{% url 'judge:create_insert' problem.id %}" download="create_insert.sql" >
       <button type="button" class="btn btn-primary"
               title='{% translate "Descargar script con la creación de tablas e inserciones" %}'>
         {% translate "Descargar script" %}
        </button>
  </a>


</h2>
{% for name, table in problem.initial_db.0.items %}
  {% include 'show_table.html' with table=table name=name mark_rows=None %}
{% endfor %}
{% endif %}
{% endblock %}

{% block expected_result %}
<h2 class="statement">{% translate "Resultado esperado" %}</h2>
{% include 'show_table.html' with table=problem.expected_result.0 name=None %}
{% endblock %}

{% block solution %}
<h2 class="statement">{% translate "Solución" %}</h2>
  <script src="{% static 'judge/js/submit.js' %}"></script>
  <form onchange="javascript:load_submission_code(event);" class="mb-3">
	<div class="custom-file">
		<input type="file" class="custom-file-input" id="customFile" lang="es">
      <label class="custom-file-label" for="customFile"><i>{% translate "Selecciona o arrastra el archivo con la solución" %}</i></label>
    </div>
    <script>
		// The name of the file appear on select
		$(".custom-file-input").on("change", function() {
			var fileName = $(this).val().split("\\").pop();
			$(".custom-file-label").addClass("selected").text(fileName);
		});
    </script>
  </form>
  <form action="javascript:send_solution();">
    {% csrf_token %} {# Includes a hidden input with the CSRF token #}
    <input type="hidden" id="endpoint" name="endpoint" value="{% url 'judge:submit' problem.pk %}">
    <div id="user_code"></div>
    <button id="submit_button" type="submit" class="btn btn-primary">
      <span id="spinner_submit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
      <span id="submit_button_text">{% translate "Enviar solución" %}</span>
    </button>
  </form>

{# comment Modal window for submission results #}
<div id="result_window" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal_title" class="modal-title">
          {% translate "Título" %}
        </h5>
      </div>
      <div class="modal-body" id="modal_message">
      </div>
        <div class="modal-body" id="achieve_sentence">
      </div>
      <div class="modal-footer">
        <button id="close_result_window_button" type="button" class="btn btn-primary"
                data-bs-dismiss="modal">{% translate "Cerrar" %}</button>
      </div>
    </div>
  </div>
</div>

{# comment Modal window for connection errors #}
<div id="error_window" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {% translate "Error de conexión" %}
        </h5>
      </div>
      <div class="modal-body">
        {% blocktranslate %}
          Ha sido imposible conectar con el corrector de ejercicios.
          Este problema puede ser debido a una saturación del servidor.
          Por favor, vuelve a cargar la página del problema e intenta enviarlo de nuevo dentro de unos instantes.
          Ponte en contacto con tu profesor si el problema persiste.
        {% endblocktranslate %}
      </div>
      <div class="modal-footer">
        <button id="close_error_window_button" type="button" class="btn btn-primary"
                data-bs-dismiss="modal">{% translate "Cerrar" %}</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
        integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous"></script>
<script>
  // Same font size in the editor as the modal window
  var el = document.getElementById('modal_message');
  var style = window.getComputedStyle(el, null).getPropertyValue('font-size');
  var size = parseInt(style);

  ace.edit("user_code", {
        theme: "ace/theme/eclipse",
        mode: "ace/mode/sql",
        autoScrollEditorIntoView: true,
        maxLines: 30,
        minLines: 10,
        fontSize: size
    });
</script>

<br/>
<div class="alert alert-danger" role="alert" id="results_box" hidden>
  <h2>{% translate "Retroalimentación" %}</h2>
  <div id="feedback_line" hidden></div>
  <div id="feedback_content"></div>
</div>
<div class="alert alert-info" role="alert" id="des_box" hidden>
  <h2>{% translate "Ayuda adicional proporcionada por el sistema DES" %}
  <button class="bg-transparent border-0" title='{% translate "Mostrar ayuda" %}'
                data-bs-target="#des_help" data-bs-toggle="modal" type="button">
            <i class="bi bi-question-circle bigger-icon" aria-hidden="true"></i>
        </button></h2>
  <div id="des_content"></div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="des_help" tabindex="-1" aria-labelledby="des_help_label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title text-center" id="des_help_label">{% translate "Ayuda adicional de DES" %}</h5>
      </div>
      <div class="modal-body">
          <a href="https://www.fdi.ucm.es/profesor/fernan/DES/" target="_blank" rel="noopener noreferrer">DES</a>
          {% blocktranslate %}
          es un sistema para el aprendizaje de bases de datos que analiza el código SQL para
          comprobar si es correcto e incluso proporciona sugerencias de mejora. LearnSQL invoca a
          DES para obtener más retroalimentación que os pueda ser de ayuda.
          {% endblocktranslate %}
          <br/><br/>
          {% translate "Concretamente, DES puede proporcionar 3 tipos de mensajes:" %}
          <br/><br/>
          <ul>
              <li><strong>{% translate "Error" %}</strong>:
                  {% blocktranslate %}
                  Problema muy relevante en el código que se debe corregir, como puede ser un error de sintaxis
                  o utilizar una tabla que no existe.
                  {% endblocktranslate %}
              </li><br/><br/>
              <li><strong>{% translate "Posible error o mejora" %}</strong>:
                  {% blocktranslate %}
                  Muestra indicios sobre un posible error o usos inadecuados en la consulta, como una
                  condición que siempre es cierta o una consulta que incluye en el bloque FROM tablas
                  que luego no se usan en el resto de la consulta.
                  {% endblocktranslate %}
                  <strong>
                      {% blocktranslate %}
                      Aunque DES es muy certero con sus mensajes, a veces proporciona indicios sobre
                      aspectos del código que realmente no admiten mejora. Por ello, es muy importante
                      que analicéis este tipo de mensajes para comprobar si de verdad el mensaje que
                      proporciona DES es aplicable a vuestro código.
                      {% endblocktranslate %}
                  </strong>
              </li><br/><br/>
              <li><strong>{% translate "Mensaje informativo" %}</strong>:
                  {% blocktranslate %}
                  Mensaje que te ayuda a resolver un error. Por ejemplo, si en una consulta
                  usas la tabla "Estudiante", que no existe, DES te indica que quizá
                  quisiste escribir "Estudiantes".
                  {% endblocktranslate %}
              </li>
          </ul>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Cerrar" %}</button>
      </div>
    </div>
  </div>
</div>
<div id="bottom_div"><br/></div>
{% endblock %}
{% endblock %}
