{% comment %}
  Receives a 'table', a 'name' and a list of row indexes 'mark_rows' to remark
{% endcomment %}
{% load random_tags %}
{% random_id 8 as id %}
{% if name %}
<div class="d-flex">
    <h3 class="tableName">
        {{name}}
        <button id="btn-{{id}}" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#table-{{ id }}">+</button>
    </h3>
</div>
{% endif %}
{% if mark_rows %}
<table class="table table-hover w-auto">
{% else %}
<table class="table table-striped table-hover w-auto">
{% endif %}
    <thead class="table-dark">
        <tr>
        {% for hname, _ in table.header %}
            <th scope="col">{{hname}}</th>
        {% endfor %}
        </tr>
    </thead>
    {% if name %}
    <tbody class="collapse" id="table-{{ id }}">
    {% else %}
    <tbody>
    {% endif %}
        {% for row in table.rows %}
            {% if forloop.counter0 in mark_rows %} {# loop.index starts **in 1** #}
                <tr class="marked_row">
            {% else %}
                <tr>
            {% endif %}
            {% for elem in row %}
                {% if elem is None %}
                <td class="null">NULL</td>
                {% else %}
                <td>{{elem}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
$('#table-{{ id }}').on('shown.bs.collapse', function () {
   $('#btn-{{ id }}').text("-");
   $('#btn-{{ id }}').removeClass("btn-primary");
   $('#btn-{{ id }}').addClass("btn-secondary");
});

$('#table-{{ id }}').on('hidden.bs.collapse', function () {
   $('#btn-{{ id }}').text("+");
   $('#btn-{{ id }}').removeClass("btn-secondary");
   $('#btn-{{ id }}').addClass("btn-primary");
});
</script>





