{% comment %}
  Receives a 'table', a 'name' and a list of row indexes 'mark_rows' to remark
{% endcomment %}
{% load random_tags %}
{% random_id 15 as id %}
{% if name %}
<div class="d-flex">
    <h3><div class="tableName">{{name}}</div></h3>
    <button class="btn btn-primary btn-sm mt-1 m-1" data-toggle="collapse" data-target="#table-{{ id }}">+</button>
</div>
{% endif %}
{% if mark_rows %}
<table class="table">
{% else %}
<table class="table table-striped">
{% endif %}
    <thead class="thead-dark">
        <tr>
        {% for hname, _ in table.header %}
            <th scope="col">{{hname}}</th>
        {% endfor %}
        </tr>
    </thead>
    {% if name %}
    <tbody class="collapse" id="table-{{ id }}">
    {% else %}
    <tbody>
    {% endif %}
        {% for row in table.rows %}
            {% if forloop.counter0 in mark_rows %} {# loop.index starts **in 1** #}
                <tr class="marked_row">
            {% else %}
                <tr>
            {% endif %}
            {% for elem in row %}
                <td>{{elem}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>




