{% extends "base_menu.html" %}
{% load i18n %}
{% block contenido %}
<h2>{% translate "mySubmissions" %}</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">{% translate "date" %}</th>
          <th scope="col">{% translate "problem" %}</th>
          <th scope="col">{% translate "veredict" %}</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for s in submissions %}
        <tr>
            <td>{{ s.creation_date }}</td>
            <td>{{ s.problem }}</td>
            <td>{{ s.veredict_pretty|safe }}</td>
            <td><a href="{% url 'judge:submission' s.pk %}" title='{% translate "showSubmissionDetails" %}'>{% translate "show" %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}