{% extends "base_menu.html" %}
{% load i18n %}
{% block contenido %}
<h1>{% translate "Mis envíos" %}</h1>
<table class="table">
    <thead class="table-dark">
      <tr>
          <th scope="col">{% translate "Fecha" %}</th>
          <th scope="col">{% translate "Problema" %}</th>
          <th scope="col">{% translate "Veredicto" %}</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for s in submissions %}
        <tr>
            <td>{{ s.creation_date }}</td>
            <td>{{ s.problem }}</td>
            <td>{{ s.veredict_pretty|safe }}</td>
            <td><a href="{% url 'judge:submission' s.pk %}" title='{% translate "Ver detalles del envío" %}'>{% translate "Ver" %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}